<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983745849181-qtfh5o9d1h3hoaopjvsb14vft5nqgeq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983745849181-qtfh5o9d1h3hoaopjvsb14vft5nqgeq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ3vzrv_UUqWcT_8eEy3lNbCwTwWzUntE</string>
	<key>GCM_SENDER_ID</key>
	<string>983745849181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ne.ezweb.mkt-1125.YoutuberApp</string>
	<key>PROJECT_ID</key>
	<string>rapp-906d2</string>
	<key>STORAGE_BUCKET</key>
	<string>rapp-906d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983745849181:ios:00e70eadb5e890fb2deab4</string>
	<key>DATABASE_URL</key>
	<string>https://rapp-906d2.firebaseio.com</string>
</dict>
</plist>